.topic_icon {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

.topic_item {
  width: 400px;
  height: 150px;
  margin-right: 5px;
  border: solid black;
}

.aws-ccp-img {
  max-width: 70%;
}

.topic_header {
  margin-top: 2%;
}
